@using BlackJack.BusinessLogic.ViewModel
@model IEnumerable<PlayerInGameView>

@{
    ViewBag.Title = "GameShow";
}

<h2>GameShow</h2>

    <table>
        <tr>
            <td><p>Player name</p></td>
            <td><p>Cards</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td><p>@b.PlayerName</p></td>
                @foreach (var k in b.Cards)
                {
                    <td><p>@k.CardNumber</p></td>
                    <td><p>@k.CardLear</p></td>
                }
                <td><p>@b.Points</p></td>
                <td><p>@b.PlayerStatus</p></td>

            </tr>
        }
    </table>




@using (Html.BeginForm("GameShow", "Game", FormMethod.Post))
{
    <input type="hidden" name="gameId" value="@Model.First().GameId" />
    <p>
        <input type="submit" value="1" name="number">
        <input type="submit" value="2" name="number">
    </p>
}